.board {
  display: flex;
  height: 100%;
}

.board_overview {
  flex: 0.2;
  height: 100%;
  border-right: solid 1px #d0d0d0;
}

.board_elements {
  flex: 0.8;
  height: 100%;
  display: flex;
  flex-direction: column;
}
