.arrow {
  display: flex;
  gap: 0 0.8rem;
  justify-content: center;
  align-items: center;
}

.arrow_button {
  cursor: pointer;
  display: block;
}

.large {
  font-size: 2rem;
}

.medium {
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}

.tiny {
  font-size: 0.8rem;
}
